<mat-card>

  <mat-toolbar color="primary">Esqueci minha senha</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <br>
      <div>Insira seu email para enviarmos um link para recuperar o acesso</div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
  </mat-card-actions>
</mat-card>
