<app-account-page pageTitle="Esqueci minha senha" description="Insira seu email para enviarmos um link para recuperar o acesso">
  <form id="form" (ngSubmit)="onSubmit()"[formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"
             name="email"
             maxlength="350">
      <mat-error *ngIf="emailErrors()?.['maxlength']">Email deve conter no máximo 350 caracteres</mat-error>
      <mat-error *ngIf="emailErrors() && submitted" class="alert">
        <mat-error *ngIf="emailErrors()?.['required']">Email é obrigatório</mat-error>
        <mat-error *ngIf="emailErrors()?.['email']">Email inválido</mat-error>
      </mat-error>
    </mat-form-field>

    <re-captcha (resolved)="resolved($event)" [siteKey]="recaptchaSiteKey"></re-captcha>

    <mat-card-actions>
      <button type="submit" class="button button-white" mat-raised-button form="form" color="primary" [disabled]="requestLoading">
        <span>Enviar</span>
      </button>
      <mat-progress-spinner *ngIf="requestLoading" color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </mat-card-actions>
  </form>
</app-account-page>
