<span>

  <h1 color="primary">Esqueci minha senha</h1>
  <div>

    <form (ngSubmit)="onSubmit()"[formGroup]="form" class="full-width">
      <h2>Insira seu email para enviarmos um link para recuperar o acesso</h2>

      <label class="full-width">
        <input
          formControlName="email"
          name="email"
          placeholder="Email"
          type="text"
          maxlength="350"
        />
        <div *ngIf="emailErrors()?.['maxlength']">350 characters max</div>
        <div *ngIf="emailErrors() && submitted" class="alert">
          <div *ngIf="emailErrors()?.['required']">Email is required.</div>
          <div *ngIf="emailErrors()?.['email']">Must be an email</div>
        </div>
      </label>

      <re-captcha (resolved)="resolved($event)" siteKey='6LewiiwhAAAAAJHGYPYmFnLpcMxn0heCSsPwZ1kR'></re-captcha>

      <input  type="submit" value="Redefinir"/>

    </form>

  </div>
</span>
