<span>

  <h1 color="primary">Redefinir minha senha</h1>

  <div>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="min-width">
      <h2>Insira sua nova senha.</h2>

      <label class="full-width">
        <input
          type="text"
          placeholder="Senha"
          formControlName="password"
          name="password"
          maxlength="64"
        />
        <div *ngIf="fieldErrors('password')?.['maxlength']">Password should have between 8 and 64 digits</div>
        <div *ngIf="fieldErrors('password') && submitted" class="alert">
          <div *ngIf="fieldErrors('password')?.['required']">Password is required</div>
          <div *ngIf="fieldErrors('password')?.['minlength']">Password should have between 8 and 64 digits</div>
          <div *ngIf="fieldErrors('password')?.['maxlength']">Password should have between 8 and 64 digits</div>
        </div>
      </label>

      <label>
        <input
          type="password"
          placeholder="Confirmar Senha"
          formControlName="confirmPassword"
          name="confirmPassword"
        />
      </label>


      <div>
        <input type="submit" value="Redefinir"/>
      </div>

    </form>

  </div>
</span>
