<span>

  <thead color="primary">Redefinir minha senha</thead>

  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="min-width">
      <br>
      <div>Insira sua nova senha.</div>
      <label class="full-width">
          <input type="password" placeholder="Senha" formControlName="password" required>
<!--          <div *ngIf="password.invalid && submitted" class="alert">-->

<!--          <div *ngIf="password.errors?.['required']">-->
<!--            Email is required.-->
<!--          </div>-->
<!--          <div *ngIf="password.errors?.['email']">-->
<!--            Must be an email-->
<!--          </div>-->
      </label>
      <br>
      <label>
        <input type="password" placeholder="Confirmar Senha" formControlName="confirmPassword">
      </label>
      <div>
        <input type="submit" value="Redefinir"/>
      </div>
    </form>
  </div>

</span>
