<app-account-page pageTitle="Redefinição de Senha" description="Insira sua nova senha">

<form (ngSubmit)="onSubmit()" [formGroup]="form" id="form">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nova Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
    <button type="button" class="visibility" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon color="primary">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>

    <mat-error *ngIf="field('password').invalid && (field('password').dirty || field('password').touched)">

      <mat-error *ngIf="fieldErrors('password')?.['required']">
        Senha é obrigatória
      </mat-error>
      <mat-error *ngIf="fieldErrors('password')?.['minlength']">
        Senha deve ter 8 caracteres no mínimo
      </mat-error>
      <mat-error *ngIf="fieldErrors('password')?.['maxlength']">
        Senha deve ter 64 caracteres no máximo
      </mat-error>
      <mat-error *ngIf="fieldErrors('password')?.['validpassword']">
        Senha deve ser válida
      </mat-error>
    </mat-error>
    <mat-hint align="start">A senha deve ter entre 8 e 64 caracteres e, no mínimo, uma letra minúscula, uma maiúscula, um número e um caractere especial</mat-hint>
  </mat-form-field>

  <re-captcha (resolved)="resolved($event)" [siteKey]="recaptchaSiteKey"></re-captcha>

  <mat-card-actions>
    <button type="submit" class="button button-white" mat-raised-button form="form" color="primary" [disabled]="requestLoading">Redefinir</button>
    <mat-progress-spinner *ngIf="requestLoading" color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
  </mat-card-actions>
  </form>

</app-account-page>
