<app-site-header></app-site-header>

<div class="registration-content">
  <h1>Minhas inscrições</h1>
  <p>Olá Fulano de Ciclano. Você pode administrar suas inscrições.</p>

    <h2>Evento</h2>
    <form>
      <mat-form-field class="oi">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option>Olá</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Confirmadas">
    <section class="registrantion-container">
      <p>
        <b>Seja um participante responsável.</b><br>
        Caso não for participar de um evento cancele sua inscrição na sessão e libere a vaga para outra pessoa.
      </p>

      <div class="registration-card">
        <h3>Título da atividade aqui</h3>
        <h4>Título da sessão aqui</h4>
        <div class="registration-card__schedules">
          <p>19/09/2022 - 14:00 - 16:00 - Bloco C - Laboratório 2</p>
          <p>20/09/2022 - 14:00 - 16:00 - Bloco C - Laboratório 2</p>
        </div>
        <a href="#">Cancelar inscrição</a>
      </div>

      <div class="registration-card">
        <h3 class="registration-card__title-activity">Título da atividade aqui</h3>
        <h4 class="registrantion-card__title-session">Título da sessão aqui</h4>
        <div class="registration-card__schedules">
          <p class="registration-card__schedule">19/09/2022 - 14:00 - 16:00 - Bloco C - Laboratório 2</p>
          <p class="registration-card__schedule">20/09/2022 - 14:00 - 16:00 - Bloco C - Laboratório 2</p>
        </div>
        <a class="registration-card__link" href="#">Cancelar inscrição</a>
      </div>
    </section>
  </mat-tab>

  <mat-tab mat-button label="Lista de espera">
    <p>A lista de espera funciona como um meio de ...</p>
  </mat-tab>

  <mat-tab mat-button label="Canceladas">
    <p>Suas inscrições canceladas:</p>
  </mat-tab>
</mat-tab-group>
