<div *ngIf="createMode">
  <h2 id="header" mat-dialog-title> Cadastrar Área </h2>
</div>

<div *ngIf="!createMode">
  <h2 id="header" mat-dialog-title> Editar Área </h2>
</div>

<div mat-dialog-content>
  <form class="app-form" id="area-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field-lg">
      <mat-label> Nome </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="name" name="name">
      <mat-error *ngIf="fieldErrors('name')?.['notblank']">
        Nome não pode ser vazio
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['required']">
        Nome é obrigatório
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['minlength'] || fieldErrors('name')?.['maxlength']">
        Nome deve ter entre 4 e 80 caracteres
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['serverError'] && submitted">
        {{ fieldErrors('name')?.['serverError'] }}
      </mat-error>
    </mat-form-field>

    <br><br>

    <mat-form-field class="form-field-lg">
      <mat-label> Referência </mat-label>
      <mat-error *ngIf="fieldErrors('reference')?.['optional']">
        Referência deve ter entre 4 e 150 caracteres
      </mat-error>
      <input appearance="fill" matInput placeholder="" formControlName="reference" name="reference">
      <mat-error *ngIf="fieldErrors('reference')?.['serverError'] && submitted">
        {{ fieldErrors('reference')?.['serverError'] }}
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close> Cancelar </button>
  <button type="submit" form="area-form" mat-button color="primary"> Submeter </button>
</div>
