<main>
  <div class="container">
    <mat-icon class="icon-page" color="primary">
      check_circle_outline
    </mat-icon>
    <h1>Cadastro efetuado com sucesso</h1>
    <p><mat-icon class="icon-text" color="primary">check_circle</mat-icon>Obrigado por fazer inscrição na plataforma.
    Por favor, faça a <b>verificação</b> do seu cadastro na sua caixa de e-mail ou de spam
      {{email ? "em " : "no"}} <b>{{email ? email : "e-mail registrado"}}</b> clicando no botão que está na mensagem
      enviada. Caso tenha escrito o e-mail errado ou incorreto, você pode esperar 15 minutos e refazer o cadastro.
      <span *ngIf="email"> Caso não tenha recebido o e-mail, clique <span class="resend" (click)="resendEmail()">aqui</span>.</span>
    </p>
    <button class="button button-white" mat-raised-button color="primary" routerLink="/cadastro">Voltar</button>

  <div class="contact">Precisa de ajuda? Entre em contact em <a href="{{contact}}" target="_blank">{{contact}}</a></div>
  </div>
</main>
