<div *ngIf="spaceDto!=null">
  <app-admin-header title="Espaço: {{ spaceDto.name }}" (backLink)="openAreaShow()">
    <button mat-button color="primary" (click)="openEditSpaceFormDialog()">Editar</button>
    <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">Excluir</button>
  </app-admin-header>

  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>event_seat</mat-icon>
      <div mat-line><b>Capacidade: </b>{{ spaceDto.capacity }} lugares</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>meeting_room</mat-icon>
      <div mat-line><b>Tipo: </b>{{ spaceDto.type | spaceTypes }}</div>
    </mat-list-item>
  </mat-list>
</div>
