a,
a:hover {
  text-decoration: none;
  color: unset;
}

.full-width {
  width: 100%;
}

.container-registration {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.header-registration {
  text-align: center;
  all: unset;
  padding: 15px;
  font-size: 2rem;
}

.title {
  font-weight: bold;
}

.first-paragraph,
.login {
  font-size: 12px;
  margin: 0;
}

.login {
  margin-bottom: 20px;
}

.loginPage:hover {
  cursor: pointer;
}

mat-card-content {
  margin: 0;
}

mat-form-field {
  margin-bottom: 10px;
}

.visibility {
  scale: 1.5;
}

.terms {
  margin-top: 20px;
  text-align: left;
}

.terms:hover {
  cursor: pointer;
}

.checkbox-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  vertical-align: center;
}

.checkbox-container mat-checkbox {
  margin-right: 8px;
  padding-bottom: 5px;
}

.checkbox-container span {
  padding-top: 1px;
}

re-captcha {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

mat-card-actions button {
  width: 100%;
  margin: 15px 0;
  color: #FFF;
}
