a,
a:hover {
  text-decoration: none;
  color: unset;
}

.full-width {
  width: 100%;
}

.container-registration {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.header-registration {
  text-align: center;
  all: unset;
  padding: 15px;
  font-size: 2rem;
}

.loginPage:hover {
  cursor: pointer;
}

.terms:hover {
  cursor: pointer;
}

mat-card-content {
  margin: 0;
}

.registration-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

mat-form-field:not(:first-child) {
  margin-top: -45px;
}

.tooltip-container {
  position: relative !important;
  right: 210px !important;
  top: -25px;
  scale: 0.33;
}

.tooltip {
  aspect-ratio: 1;
  scale: 0.7;
  margin: 0;
}

.tooltip mat-icon {
  scale: 2.5;
}

re-captcha {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.checkbox-container mat-checkbox {
  margin-right: 10px;
}

mat-card-actions button {
  width: 125px;
  aspect-ratio: 3;
  margin: 15px 0;
}

.visibility {
  scale: 1.5;
}

@media(max-width: 520px){
  .tooltip-container {
    right: 170px !important;
  }
}

@media (max-width: 360px) {
  .tooltip-container {
    right: 140px !important;
  }
}

