.home-page-header {
  background-color: rgb(197, 197, 197);
  padding: 30px 80px;

  &__title {
    font-weight: 400;
  }

  &__description {
    width: 45%;
    text-align: justify;
  }
}

.home-page-container {
  padding: 30px 80px;

  &__section {
    margin-bottom: 50px;
  }
}
