.home-page-header-content {
  padding: 0 20px;
  background-color: #195128;
  background-image: url("/assets/img/header-background.jpg");
  background-position: center;
  background-repeat: repeat;

}

.home-page-header {
  margin: auto;
  max-width: 1200px;
  padding: 60px 5px;
  color: #FFFFFF;

  @media screen and (max-width: 523px) {
    padding: 10px 20px 10px 20px;

    &__link {
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px;
  }

  &__description {
    text-align: justify;

    @media screen and (max-width: 700px) {
      width: 100% !important;
    }
  }
}

main {
  min-height: 300px;
}

.home-page-container {
  margin: auto;
  max-width: 1200px;
  padding: 40px 5px;

  @media screen and (max-width: 532px) {
    padding: 10px 20px;
  }

  &__section {
    margin-bottom: 50px;
  }
}
