table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.email {
  background-color: #cccccc;
}

.edit {
  width: 100%;
  max-width: 400px;
  color: #FFF;
  margin-top: 30px;
}
