.my-account {

  &__header-wrap {
    background-color: #2b9441;
  }

  &__header {
    margin: auto;
    max-width: 1100px;
    padding: 40px 20px;
  }

  &__title {
    color: #FFFFFF;
    margin: 0;
    font-weight: 500;
  }

  &__subtitle {
    color: #FFFFFF;
    margin: 0;
  }

  &__content {
    margin: auto;
    max-width: 1100px;
    padding: 30px 20px;
  }
}

.my-data__container {
  padding: 30px;

  b {
    font-weight: 500;
  }
}

.my-activities__container {
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 400px){
    padding: 0;
  }
}

.account-deletion {
  margin: -5px 0 15px 0 !important;;
  border: none;
}

@media screen and(max-width: 400px) {

  .mat-row > * {
    padding: 0;
  }
}
