.my-data__greetings, h1 {
  margin: 10px;
}

.my-data__container {
  padding: 20px;
  max-width: 800px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

td {
  border: none;
  text-align: center;
  padding: 10px;
}

.my-data__table > tr:nth-child(odd) {
  background-color: #93E9BE;
}

.attribute {
  text-align: center;
  font-weight: bold;
}

.email {
  color: maroon;
  font-style: italic;
}

.edit {
  width: 100%;
  color: #FFF;
  margin: 30px 0 5px 0 !important;
}

.button {
  margin: 5px 0 !important;
  border: none;
  width: 100%;
}

.alterPassword {
  margin: 5px 0 15px 0 !important;
  border: none;
  width: 100%;
}

.my-activities__container{
  overflow: auto;
  height: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;
}

.my-activities__container::-webkit-scrollbar {
  display: none;
}

.my-activities__container th{
  border-bottom: 2px solid black;
}

.mat-row:nth-child(2n+1){
  background-color: #93E9BE;
}

.mat-elevation-z0 {
  max-width: 800px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-elevation-z0 * {
  text-align: center;
  vertical-align: center;
  border: none;
  padding: 0 !important;
}

td.mat-cell{
  border-bottom-style: none;
}

th.mat-header-cell{
  border-bottom-style: none;
}

mat-card-actions {
  margin-bottom: 0 !important;
}
