.event-page-img {
  border-radius: 10px;
  width: 85%;

  @media screen and (max-width: 750px) {
    width: 100%;
    border-radius: 0px;
  }
}

.header-content {
  margin-top: 40px;

  &__title {
    font-size: 28px;
    margin-bottom: 0px;

    @media screen and (max-width: 750px) {
      font-size: 22px;
    }
  }

  &__dates {
    font-size: 15px;
    color: #195128;

    @media screen and (max-width: 750px) {
      font-size: 13px;
    }
  }

  &__link {
    text-decoration: none;
    color: #2b9441;
  }

  &__event {

  }

  &__menu {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
}

.event-page-header {
  margin: auto;
  max-width: 1100px;
  text-align: center;
  margin-top: 10px;

  @media screen and (max-width: 750px) {
    margin: 0;
  }
}
