<main *ngIf="!loading" class="event-page">
  <button mat-button color="primary" [routerLink]="getBackLink()">< Voltar a Programação</button>
  <br>
  <br>
  <article class="activity-show">
    <h1 class="activity-show__title">
      {{ activity.title }}
      <span class="activity-show__type">{{ activity.type | activityTypes }}</span>
      <span class="activity-show__type">{{ activity.modality | activityModalities }}</span>
    </h1>
    <div class="event-page__content">
      <p>{{ activity.description }}</p>
      <p><span class="activity-show__hint">{{activity.speakers.length == 1 ? 'Ministrante:' : 'Ministrantes:'}}</span> {{ getSpeakerNames(activity.speakers) }}</p>
      <p><span class="activity-show__hint">Duração:</span>  {{ activity.duration }} minutos</p>
      <p><span class="activity-show__hint">Tempo de credenciamento:</span>  {{ activity.setupTime }} minutos</p>
      <p><span class="activity-show__hint">Precisa de inscrição:</span>  {{ activity.needRegistration ? 'Sim' : 'Não' }}</p>

      <div class="activity-show__session" *ngFor="let session of activity.sessions">
        <h2 class="activity-show__session-title">Sessão {{ session.title }} - {{ session.seats }} vagas</h2>

        <div *ngIf="session.sessionSchedules.length == 1">
          <p>
            <span class="activity-show__hint">Horário:</span>
            {{ session.sessionSchedules[0].executionStart | date:'ccc dd/MM' : '' : 'pt-BR' }}
            das {{ session.sessionSchedules[0].executionStart | date:'HH:mm' }}
            às {{ session.sessionSchedules[0].executionEnd | date:'HH:mm' }}
          </p>
          <p *ngIf="showUrl()">
            <span class="activity-show__hint">URL:</span> {{ session.sessionSchedules[0].url }}
          </p>

          <p *ngIf="showLocation()">
            <span class="activity-show__hint">Local:</span>
            {{ session.sessionSchedules[0].locationName }} ({{ session.sessionSchedules[0].locationAddress }})

            <span *ngIf="session.sessionSchedules[0].areaName"> - {{ session.sessionSchedules[0].areaName }}</span>

            <span *ngIf="session.sessionSchedules[0].spaceName"> - {{ session.sessionSchedules[0].spaceType | spaceTypes }} {{ session.sessionSchedules[0].spaceName }}</span>

          </p>
        </div>

        <div *ngIf="session.sessionSchedules.length != 1">
          <h4 class="activity-show__session-schedules">Horários</h4>
          <ul>
            <li *ngFor="let sessionSchedule of session.sessionSchedules">
              <p>
                <span class="activity-show__hint">Horário:</span> {{ sessionSchedule.executionStart | date:'ccc dd/MM' : '' : 'pt-BR' }}
                das {{ sessionSchedule.executionStart | date:'HH:mm' }}
                às {{ sessionSchedule.executionEnd | date:'HH:mm' }}
              </p>
              <p *ngIf="showUrl()">
                <span class="activity-show__hint">URL:</span> {{ session.sessionSchedules[0].url }}
              </p>

              <p *ngIf="showLocation()">
                <span class="activity-show__hint">Local:</span>
                {{ session.sessionSchedules[0].locationName }} ({{ session.sessionSchedules[0].locationAddress }})

                <span *ngIf="session.sessionSchedules[0].areaName"> - {{ session.sessionSchedules[0].areaName }}</span>

                <span *ngIf="session.sessionSchedules[0].spaceName"> - {{ session.sessionSchedules[0].spaceType | spaceTypes }} {{ session.sessionSchedules[0].spaceName }}</span>

              </p>

            </li>
          </ul>
          <p *ngIf="needRegistration()">Antes de se inscrever verifique se você tem disponibilidade para participar de todos os horários.
            Para receber o certificado você deverá participar de todos os horários da sessão.</p>
        </div>
        <br>
        <div *ngIf="needRegistration()">
          <div *ngIf="registrationIsOpen()">
            <button *ngIf="hasSeats(session)" mat-stroked-button color="primary" (click)="register(session)">Inscreva-se</button>
            <div *ngIf="!hasSeats(session)">
              <p class="activity-show__hint">Vagas Esgotadas. Como funciona a lista de espera?</p>
              <p>A lista de espera NÃO garante uma vaga na atividade.
                Caso um participante com vaga confirmada na sessão cancele a inscrição, o primeiro usuário da lista de espera
                poderá ser avisado via e-mail sobre a vaga liberada na sessão. Este usuário terá 12 horas para aceitar ou
                cancelar a vaga liberada, após este período o sistema cancelará automaticamente a inscrição e enviará um
                e-mail para o próximo usuário da lista de espera.
              </p>
              <br>
              <button mat-stroked-button color="primary" (click)="registerOnWaitingList(session)">Entrar na Lista de Espera</button>
            </div>

          </div>
          <p *ngIf="!registrationIsOpen() && activity.needRegistration">
            <span class="activity-show__hint">Período de inscrição:</span> de {{ eventDto.registrationPeriod.startDate | date:'dd/MM/YYYY' : '' : 'pt-BR' }}
            à {{ eventDto.registrationPeriod.endDate | date:'dd/MM/YYYY' : '' : 'pt-BR' }}.
          </p>
        </div>
      </div>
    </div>
  </article>

</main>
