<div *ngIf="accountDto">
  <app-admin-header title="{{ accountDto.name }}" (backLink)="getBackUrl()">
    <button type="submit" form="account-form" mat-raised-button color="primary">Salvar</button>
  </app-admin-header>
</div>

<form id="account-form" [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form">

  <fieldset>
    <mat-form-field class="form-field-md">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" name="name">
      <mat-error *ngIf="fieldErrors('name')?.['required']">Nome é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['minlength']">Nome deve ter no mínimo 5 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['maxlength']">Nome deve ter no máximo 256 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['notblank']">Nome não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['validname']">Nome deve deve conter um nome válido</mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['serverError'] && submitted">
        {{ fieldErrors('name')?.['serverError'] }}
      </mat-error>
    </mat-form-field>


    <mat-form-field class="form-field-md">
      <mat-label>CPF</mat-label>
      <input placeholder="123.456.789-01" mask="000.000.000-00" matInput formControlName="cpf" name="cpf">
      <mat-error *ngIf="field('cpf').invalid && (field('cpf').dirty || field('cpf').touched)">
        <mat-error *ngIf="fieldErrors('cpf')?.['required']">
          CPF é obrigatório
        </mat-error>
        <mat-error *ngIf="fieldErrors('cpf')?.['validcpf']">
          CPF deve ser válido
        </mat-error>
      </mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <mat-form-field class="form-field-md">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="" formControlName="email" name="email">
      <mat-error *ngIf="fieldErrors('email')?.['required']">E-mail é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('email')?.['email']">E-mail deve conter um e-mail válido</mat-error>
      <mat-error *ngIf="fieldErrors('email')?.['maxlength']">E-mail deve ter no máximo 350 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('email')?.['serverError'] && submitted">
        {{ fieldErrors('email')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="modal__input__sm" >
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="role" name="role" placeholder="Perfil">
        <mat-option *ngFor="let roleType of enumKeys" [value]="roleType">
          {{roleType | accountRole | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <div>
      <mat-label class="mat-hint">Verificado</mat-label>
      <br>
      <mat-slide-toggle class="mat-slide-toggle-content" formControlName="verified">
        <mat-hint>Informa se o usuário possui conta confirmada através do e-mail</mat-hint>
      </mat-slide-toggle>
    </div>
  </fieldset>





</form>
