main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #A8E7D26B;
}

.container {
  max-width: 450px;
  font-size: 1rem;
  color: darkgreen;
}

.icon-page {
  vertical-align: central;
  align-items: center;
  text-align: center;
  scale: 5;
  margin-bottom: 70px;
}

.icon-text {
  position: relative;
  scale: 0.7;
  top: 5px;
  left: 5px;
  margin-right: 5px;
}

.resend {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

.button {
  margin: 10px 0 25px 0 !important;
  border: none;
  width: 100%;
}

.button-white {
  color: #FFFFFF;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  font-size: 0.8rem;
}

.verification {
  font-weight: bold;
  color: red;
}

.spinner{
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
