<main>
  <h1>Termos de Uso e Política de Privacidade</h1>
  <p>Ao aceitar os serviços da Plataforma de Eventos do Instituto Federal de Educação, Ciência e Tecnologia de
    São Paulo - Câmpus São Paulo, você confirma que leu, compreendeu e aceita os termos e políticas aplicáveis e
    fica a eles vinculados</p>
  <h2>Definições</h2>
  <p>Para facilitar o entendimento de termos técnicos e expressões aqui utilizadas, descrevemos abaixo a definição de cada uma.</p>
  <ul>
    <li>Dado pessoal: informação relacionada a pessoa natural identiﬁcada ou identiﬁcável;</li>
    <li>Dado pessoal sensível: dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, ﬁliação a sindicato ou à organização de caráter religioso, ﬁlosóﬁco ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;
    </li>
    <li>Titular: pessoa natural a quem se referem os dados pessoais que são objeto de tratamento;
    </li>
    <li>Usuários (ou usuário, quando individualmente considerado): todas as pessoas naturais que utilizarem os serviços, sendo titulares dos dados ou não;
    </li>
    <li>Terceiro: pessoa ou entidade que não participa diretamente em um contrato, em um ato jurídico ou em um negócio, ou que, para além das partes envolvidas, pode ter interesse em um processo jurídico;
    </li>
    <li>Tratamento: toda operação realizada com dados pessoais, como coleta, produção, recepção, classiﬁcação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modiﬁcação, comunicação, transferência, difusão ou extração.
    </li>
    <li>Uso compartilhado de dados: comunicação, difusão, transferência internacional, interconexão de dados pessoais ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no cumprimento de suas competências legais, ou entre esses e entes privados, reciprocamente, com autorização especíﬁca, para uma ou mais modalidades de tratamento permitidas por esses entes públicos, ou entes privados;</li>
    <li>Banco de dados: conjunto estruturado de dados pessoais, estabelecido em um ou em vários locais, em suporte eletrônico ou físico;
    </li>
    <li>Códigos maliciosos: qualquer programa de computador, ou parte de um programa, construído com a intenção de provocar danos, obter informações não autorizadas ou interromper o funcionamento de sistemas e/ou redes de computadores;
    </li>
    <li>Conﬁdencialidade: garantia de que a informação é acessível somente por pessoas autorizadas;
    </li>
    <li>Integridade: garantia da exatidão e íntegra da informação e dos métodos de seu processamento;
    </li>
    <li>Segurança da informação: conjunto de práticas e métodos voltados para a preservação da conﬁdencialidade, integridade e disponibilidade da informação;</li>
    <li>Anonimização: utilização de meios técnicos razoáveis e disponíveis no momento do tratamento, por meio dos quais um dado perde a possibilidade de associação, direta ou indireta, a um indivíduo;</li>
    <li>Dado anonimizado: dado relativo a titular que não possa ser identiﬁcado, considerando a utilização de meios técnicos razoáveis e disponíveis na ocasião de seu tratamento;
    </li>
    <li>Violação de dados pessoais: violação de segurança que provoque, de modo acidental ou ilícito, a destruição, a perda, a alteração, a divulgação ou o acesso não autorizado a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento.</li>
  </ul>

  <section>
    <h2>Responsabilidades e Direitos do Usuário</h2>
    <p>Com base na Lei Geral de Proteção de Dados Pessoais (LGPD), você, como titular dos dados possui os seguintes direitos:</p>
    <ul>
      <li>Confirmação e acesso: obter a conﬁrmação de quais dados pessoais são ou não objeto de tratamento e, se for esse o caso, o direito de acessar os seus dados pessoais;</li>
      <li>Retificação: solicitar ou executar por meio de área específica da plataforma a correção de dados incompletos, inexatos ou desatualizados;</li>
      <li>Limitação do tratamento dos dados: limitar o tratamento de seus dados pessoais, podendo exigir a eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a LGPD;
      </li>
      <li>Oposição: opor-se ao tratamento de dados por motivos relacionados com a sua situação particular, em caso de descumprimento ao disposto na LGPD;
      </li>
      <li>Portabilidade dos dados: realizar a portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;
      </li>
      <li>Não ser submetido(a) a decisões automatizadas: solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais que afetem seus interesses, incluídas as decisões destinadas a deﬁnir o seu perﬁl pessoal, proﬁssional, de consumo e de crédito ou os aspectos de sua personalidade.</li>
    </ul>
  </section>


  <section>
    <h2>Responsabilidades e Deveres do Usuário</h2>
    <p>O usuário possui as seguintes obrigações ao utilizar os serviços da Plataforma de Eventos:</p>
    <ul>
      <li>Zelar pela veracidade das informações: Você como usuário do serviço é responsável pela atualização das suas informações pessoais e pelas consequências na omissão ou erros nas informações pessoais cadastradas. A utilização correta do serviço da plataforma depende da veracidade e precisão das informações.</li>
      <li>Você é responsável pelos seus atos: É sua responsabilidade a reparação de todo e qualquer dano, direto ou indireto, que seja causado à Administração Pública, outro usuário, ou terceiro (inclusive em virtude do descumprimento do disposto neste Termo de Uso ou de qualquer ato praticado a partir de seu acesso ao serviço).
      </li>
      <li>Não compartilhar login ou senha: O login e senha só poderão ser utilizados pelo usuário cadastrado. Você deve manter sigilo da senha, que é pessoal e intransferível, não podendo alegar uso indevido, após seu compartilhamento.</li>
      <li>Não interferir, comprometer ou interromper o serviço: Você não pode inserir conteúdo ou códigos ou, de outra forma, alterar ou interferir na maneira como a página do serviço é exibida ou processada no dispositivo do usuário. Tendo em vista que o serviço lida com informações pessoais, você, como usuário, concorda que não usará robôs, sistemas de varredura e armazenamento de dados (como “spiders” ou “scrapers”), links escondidos ou qualquer outro recurso escuso, ferramenta, programa, algoritmo ou método coletor/extrator de dados automático para acessar, adquirir, copiar ou monitorar o serviço, sem permissão expressa por escrito da IFSP Câmpus São Paulo.
      </li>
      <li>Não usar, reproduzir, compartilhar ou distribuir conteúdo da Plataforma de Eventos sem autorização expressa: Ao acessar os nossos serviços, você declara que respeitará todos os direitos de propriedade intelectual e os decorrentes da proteção de marcas, patentes e/ou desenhos industriais, depositados ou registrados em, bem como todos os direitos referentes a terceiros que porventura estejam, ou estiverem de alguma forma, disponíveis no serviço. O simples acesso ao serviço não confere a você qualquer direito ao uso dos nomes, títulos, palavras, frases, marcas, patentes, imagens, dados e informações, dentre outras, que nele estejam ou estiverem disponíveis. A reprodução dos conteúdos descritos anteriormente está proibida, salvo com prévia autorização por escrito ou caso se destinem ao uso exclusivamente pessoal. Em nenhuma circunstância os usuários adquirem qualquer direito sobre esses conteúdos.</li>
      <li>Zelar pela propriedade intelectual e/ou industrial dos serviços da Plataforma de Eventos: É vedada a utilização do serviço para ﬁnalidades comerciais, publicitárias ou qualquer outra que contrarie a ﬁnalidade para a qual foi criada, sob pena de serem aplicadas as sanções da Lei nº 9.610, de 1998, que protege os direitos autorais no Brasil. Os visitantes e os usuários assumem toda e qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização indevida das informações, textos, gráﬁcos, marcas, imagens, enﬁm, todo e qualquer direito de propriedade intelectual ou industrial do serviço.
      </li>
    </ul>
  </section>

  <section>
    <h2>Responsabilidades da Plataforma de Eventos</h2>
    <p>A Plataforma de Eventos se compromete a observar os princípios de proteção de dados estabelecidos no art. 6° da LGPD, a cumprir todas as legislações inerentes ao uso correto dos dados pessoais do cidadão de forma a preservar a privacidade dos dados utilizados no serviço, bem como a garantir todos os direitos e garantias legais que você possui. É nossa responsabilidade implementar controles de segurança para proteção dos dados que são coletados.</p>
    <p>Preservaremos a funcionalidade do serviço ou aplicativo, utilizando um layout que respeite a usabilidade e navegabilidade e facilitando a navegação sempre que possível. Exibiremos as funcionalidades de maneira completa, precisa e suﬁciente, de modo que as operações realizadas no serviço sejam claras.</p>
    <p>A Plataforma de Eventos, em nenhuma hipótese, será responsável pela instalação, no equipamento do usuário ou de terceiros, de códigos maliciosos (vírus, trojans, malware, worm, bot, backdoor, spyware, rootkit ou quaisquer outros que venham a ser criados), em decorrência da navegação na internet pelo usuário. Em hipótese alguma o serviço e seus colaboradores responsabilizam-se por eventuais danos diretos, indiretos, emergentes, especiais, imprevistos ou multas causadas, em qualquer matéria de responsabilidade, seja contratual, objetiva ou civil (inclusive por omissão ou outras), decorrentes de qualquer forma de uso do serviço, mesmo que advertida a possibilidade de tais danos.</p>
    <p>É importante destacar que ainda que nós não nos responsabilizamos pelos seguintes fatos:</p>
    <ul>
      <li>Equipamento infectado ou invadido;</li>
      <li>Equipamento avariado no momento do consumo de serviços;</li>
      <li>Proteção do computador;</li>
      <li>Proteção das informações baseadas nos computadores dos usuários;</li>
      <li>Abuso de uso dos computadores dos usuários;</li>
      <li>Monitoração clandestina do computador dos usuários;</li>
      <li>Vulnerabilidades ou instabilidades existentes nos sistemas dos usuários;</li>
      <li>Perímetro inseguro.</li>
    </ul>
    <p>A Plataforma de Eventos publicará as futuras alterações a este Termo de Uso e Política de Privacidade nesta página.</p>
    <p>Caso você, como usuário do serviço, descumpra este Termo de Uso ou a Política de Privacidade, ou seja investigado em razão de má conduta, a Plataforma de Eventos poderá restringir seu acesso e você poderá responder legalmente por essa conduta.</p>
  </section>
  <section>
    <h2>Dúvidas</h2>
    <p>Caso queira entrar em contato com a Plataforma de Eventos para relatar alguma diﬁculdade, esclarecer alguma dúvida, fazer um pedido ou solicitar informações adicionais sobre como são tratados os seus dados, entre em contato através do e-mail eventos.spo@ifsp.edu.br.</p>
  </section>

  <section>
    <h2>Política de Privacidade</h2>
    <h3>Como coletamos seus dados pessoais ("coleta de dados")</h3>
    <p>A Plataforma de Eventos coleta apenas os dados indispensáveis para o funcionamento de nossos diversos serviços, tais como nome, CPF e e-mail.</p>
    <p>Ao tratar os seus dados, a Plataforma de Eventos busca respeitar todos os princípios estabelecidos no artigo 6º da LGPD, especialmente o princípio da necessidade, que estabelece que o tratamento deve ser limitado ao mínimo necessário para a realização de suas ﬁnalidades, de forma proporcional e não excessiva.</p>

    <h3>Como usamos os seus dados ("utilização de dados")</h3>
    <p>A Plataforma de Eventos utiliza seus dados para:</p>
    <ul>
      <li>Fornecer serviços públicos de qualidade a você: Seus dados são coletados para que possamos oferecer serviços públicos que possam ser de seu interesse</li>
      <li>Comunicar-se com você: Coletamos seus dados para aprimorar nossos serviços, responder quando você entra em contato e manter você informado(a) sobre assuntos relevantes.</li>
      <li>Prestar suporte técnico: Seus dados podem ser usados para lhe ajudar em ações que visam
        garantir a segurança e a funcionalidade dos serviço, prevenir atividades ilegais, fraudulentas ou suspeitas,
        que possam provocar danos à Plataforma de Eventos ou à terceiros e problemas técnicos.</li>
    </ul>

    <h3>Com quem compartilhamos os seus dados ("compartilhamento de dados")</h3>
    <p>O uso, acesso e compartilhamento da base de dados formada nos termos da presente Política de Privacidade poderão ser feitos dentro dos limites e propósitos das atividades legais da Plataforma de Eventos e do IFSP Câmpus São Paulo. As bases poderão ser fornecidas e disponibilizadas para acesso e/ou consulta de:</p>
    <ul>
      <li>Orgãos ou instituições da Administração Pública: Para informações sobre eventos e atividades realizadas pelos servidores ou execução de outras políticas públicas.</li>
      <li>Investigações judiciais: A Plataforma de Eventos poderá, quanto às ordens judiciais de pedido das informações, compartilhar informações necessárias para investigações ou tomar medidas relacionadas a atividades ilegais, suspeitas de fraude ou ameaças potenciais contra pessoas, bens ou sistemas ou de outra forma necessária para cumprir com nossas obrigações legais. Caso ocorra, você será informado, salvo quando o processo estiver em segredo de justiça.</li>
    </ul>

    <h3>Como protegemos seus dados (“segurança no tratamento dos seus dados pessoais”)</h3>
    <p>A Plataforma de Eventos se compromete a aplicar boas práticas de segurança alinhadas aos padrões técnicos e regulatórios exigidos. Assim, buscamos proteger seus dados de possíveis vulnerabilidades.</p>
    <p>A Plataforma de Eventos se exime de responsabilidades por culpa exclusiva de terceiro, como em caso de ataques externos, ou por culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiro. A Plataforma de Eventos se compromete, ainda, a comunicar o usuário em prazo adequado caso ocorra algum tipo de violação da segurança de seus dados pessoais que possa lhe causar um alto risco para seus direitos e liberdades pessoais.</p>
  </section>

</main>
