<h1 mat-dialog-title>Cancelar {{ data.name }}</h1>
<div mat-dialog-content>
  <h2>Motivo do cancelamento</h2>
  <p>Esse texto será enviado ao e-mail dos participantes.</p>
  <form [formGroup]="form" id="cancel-form">
    <mat-form-field class="form-field-lg">
      <textarea matInput formControlName="cancelMessage" placeholder="Mensagem" [(ngModel)]="data.cancelMessage"></textarea>
      <mat-error *ngIf="fieldErrors('cancelMessage')?.['required']">
        Mensagem de cancelamento é obrigatório
      </mat-error>
      <mat-error *ngIf="fieldErrors('cancelMessage')?.['notblank']">
        Mensagem de cancelamento não pode ser vazio
      </mat-error>
      <mat-error *ngIf="fieldErrors('cancelMessage')?.['minlength']">
        Mensagem de cancelamento deve ter no mínimo 5 caracteres
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ data.cancelText }}</button>
  <button mat-button type="submit" form="cancel-form" color="warn" [mat-dialog-close]="data.cancelMessage" [disabled]="formIsValid()">
    {{ data.okText }}
  </button>
</div>
