<article class="container">
  <header class="container__header">
    <h2 class="container__title"> Locais </h2>
    <button class="container__actions" mat-button color="primary" (click)="openAddLocationFormDialog()">Novo Local</button>
  </header>

  <table class="container__table" mat-table [dataSource]="locationsDto">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openLocationShow(row)"></tr>
  </table>
</article>
