<app-admin-header title="Locais">
  <button mat-button color="primary" (click)="openAddLocationFormDialog()">Novo Local</button>
</app-admin-header>

<article class="container">
    <table class="container__table" *ngIf="locationsDto.length" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por nome">Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por endereço">Endereço</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openLocationShow(row)" class="container__line"></tr>
    </table>
</article>
