<main>
  <div class="container">
    <mat-icon class="icon-page" color="primary">
      check_circle_outline
    </mat-icon>
    <h1>Pedido de redefinição de senha feito com sucesso</h1>
    <p>Caso o email exista, uma mensagem para redefinir sua senha foi enviada para <b>{{email ? email : " o email registrado"}}</b>.
      <span *ngIf="email"> <br><br> Para reenviar o email, clique <button class="resend" (click)="resendEmail()">aqui</button></span><br>
    </p>
    <p class="password-reset" *ngIf="passwordResetProblem">{{passwordResetProblem}}</p>
    <div class="spinner" *ngIf="requestLoading">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </div>
    <button class="button button-white" mat-raised-button type="button" color="primary" routerLink="/esqueci-minha-senha" >
      Voltar
    </button>

    <div class="contact">Precisa de ajuda? Entre em contato em <b>{{contact}}</b></div>

  </div>
</main>
