<app-admin-header [title]="createMode ? 'Novo Evento' : 'Editar Evento'" (backLink)="getBackUrl()">
  <button type="submit" form="event-form" mat-raised-button color="primary">Salvar</button>
</app-admin-header>

<form id="event-form" [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form">

<!--  <br /><br />-->
<!--    <input type="file" (change)="onSmallerImageChange($event)" />-->
<!--  <br /><br />-->

<!--  <mat-form-field appearance="outline">-->
<!--    <ngx-mat-file-input (change)="onSmallerImageChange($event)">-->
<!--    </ngx-mat-file-input>-->
<!--  </mat-form-field>-->

  <fieldset>
    <legend>Dados gerais</legend>

    <mat-form-field class="form-field-lg">
      <mat-label>Título</mat-label>
      <input matInput placeholder="" formControlName="title" name="title">
      <mat-error *ngIf="fieldErrors('title')?.['required']">Título é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['notblank']">Título não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['minlength']">Título deve ter no mínimo 3 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['maxlength']">Título deve ter no máximo 100 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['serverError'] && submitted">
        {{ fieldErrors('title')?.['serverError'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-lg">
      <mat-label>Slug</mat-label>
      <input matInput placeholder="" formControlName="slug" name="slug">
      <mat-error *ngIf="fieldErrors('slug')?.['required']">Slug é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['notblank']">Slug não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['minlength']">Slug deve ter no mínimo 3 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['maxlength']">Slug deve ter no máximo 100 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['serverError'] && submitted">
        {{ fieldErrors('slug')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field-xl">
      <mat-label>Resumo</mat-label>
      <textarea matInput placeholder="Deve ter no mínimo 100 e no máximo 150 caracteres" formControlName="summary"
                rows="3" name="summary"></textarea>
      <mat-error *ngIf="fieldErrors('summary')?.['required']">Resumo é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['notblank']">Resumo não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['minlength']">Resumo deve ter no mínimo 50 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['maxlength']">Resumo deve ter no máximo 150 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['serverError'] && submitted">
        {{ fieldErrors('summary')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset formGroupName="registrationPeriod">
    <legend>Período de inscrições</legend>
    <mat-form-field class="form-field-sm">
      <mat-label>Início</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" name="start-date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="fieldErrors('registrationPeriod.startDate')?.['required']">Início é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-sm">
      <mat-label>Fim</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate" name="end-date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="fieldErrors('registrationPeriod.endDate')?.['required']">Fim é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('registrationPeriod.endDate')?.['serverError'] && submitted">
        {{ fieldErrors('registrationPeriod.endDate')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset formGroupName="executionPeriod">
    <legend>Período de execução</legend>

    <mat-form-field class="form-field-sm">
      <mat-label>Início</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="startDate" name="start-date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="fieldErrors('executionPeriod.startDate')?.['required']">Início é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-sm">
      <mat-label>Fim</mat-label>
      <input matInput [matDatepicker]="picker3" formControlName="endDate" name="end-date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
      <mat-error *ngIf="fieldErrors('executionPeriod.endDate')?.['required']">Fim é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('executionPeriod.endDate')?.['serverError'] && submitted">
        {{ fieldErrors('executionPeriod.endDate')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <legend>Conteúdo Páginas</legend>
    <div class="rich-text">
      <label class="rich-text__label" for="contact">Apresentação</label>
      <div class="rich-text__hint">
        <p>O texto será exibido na página de apresentação do evento</p>
      </div>
      <angular-editor class="rich-text__control" id="presentation" formControlName="presentation" [config]="editorConfig"></angular-editor>
      <div class="rich-text__errors" *ngIf="field('presentation').invalid && (field('presentation').dirty || field('presentation').touched)">
        <p *ngIf="fieldErrors('presentation')?.['required']">Apresentação é obrigatório</p>
        <p *ngIf="fieldErrors('presentation')?.['notblank']">Apresentação não pode ser vazio</p>
        <p *ngIf="fieldErrors('presentation')?.['minlength']">Apresentação deve ter no mínimo 100 caracteres</p>
        <p *ngIf="fieldErrors('presentation')?.['maxlength']">Apresentação deve ter no máximo 5000 caracteres</p>
        <p *ngIf="fieldErrors('presentation')?.['serverError'] && submitted">{{ fieldErrors('presentation')?.['serverError'] }}</p>
      </div>
    </div>

    <div class="rich-text">
      <label class="rich-text__label" for="contact">Contato</label>
      <div class="rich-text__hint">
        <p>O texto será exibido na página de contato do evento</p>
      </div>
      <angular-editor class="rich-text__control" id="contact" formControlName="contact" [config]="editorConfig"></angular-editor>
      <div class="rich-text__errors" *ngIf="field('contact').invalid && (field('contact').dirty || field('contact').touched)">
        <p *ngIf="fieldErrors('contact')?.['required']">Contato é obrigatório</p>
        <p *ngIf="fieldErrors('contact')?.['notblank']">Contato não pode ser vazio</p>
        <p *ngIf="fieldErrors('contact')?.['minlength']">Contato deve ter no mínimo 50 caracteres</p>
        <p *ngIf="fieldErrors('contact')?.['maxlength']">Contato deve ter no máximo 5000 caracteres</p>
        <p *ngIf="fieldErrors('contact')?.['serverError'] && submitted">{{ fieldErrors('contact')?.['serverError'] }}</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Capas</legend>
    <mat-form-field class="form-field-xl">
      <mat-label>Menor</mat-label>
      <input matInput placeholder="" formControlName="smallerImage" name="smaller-image">
      <mat-error *ngIf="fieldErrors('smallerImage')?.['serverError'] && submitted">
        {{ fieldErrors('smallerImage')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field-xl">
      <mat-label>Maior</mat-label>
      <input matInput placeholder="" formControlName="biggerImage" name="bigger-image">
      <mat-error *ngIf="fieldErrors('biggerImage')?.['serverError'] && submitted">
        {{ fieldErrors('biggerImage')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </fieldset>
</form>
