<div *ngIf="subeventDto">
  <app-admin-header title="Subevento {{ subeventDto.title }}" (backLink)="openEventShow()">
    <button mat-button color="primary" (click)="publishSubevent()">Publicar</button>
    <button mat-button color="primary" (click)="unpublishSubevent()">Despublicar</button>
    <button mat-button color="primary" (click)="openCancelDialog()">Cancelar</button>
    <button mat-button color="primary" routerLink="edit">Editar</button>
    <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">Excluir</button>
  </app-admin-header>

  <mat-tab-group mat-align-tabs="left" animationDuration="0ms" [selectedIndex]="tabSelectedIndex">

    <mat-tab label="Dados Principais">
      <article class="container">
        <p class="container__item"><b>Resumo:</b>{{ subeventDto.summary }}</p>
        <p class="container__item"><b>Apresentação:</b>{{ subeventDto.presentation }}</p>
        <p class="container__item"><b>Status:</b>{{ subeventDto.status | eventStatus }}</p>
        <p *ngIf="subeventDto.cancellationMessage"><b>Mensagem de cancelamento:</b>{{ subeventDto.cancellationMessage }}</p>
        <h3>Datas</h3>
        <p class="container__item"><b>Início:</b>{{ subeventDto.executionPeriod.startDate | date:'dd/MM/yyyy' }}</p>
        <p class="container__item"><b>Fim:</b>{{ subeventDto.executionPeriod.endDate | date:'dd/MM/yyyy' }}</p>
        <h3>Imagens</h3>
        <p><b>Menor</b></p>
        <img mat-card-image src="{{ subeventDto.smallerImage }}" width="300px">
        <p><b>Maior</b></p>
        <img mat-card-image src="{{ subeventDto.biggerImage }}" width="300px">
      </article>
    </mat-tab>

    <mat-tab label="Organização">
      <article class="container">
        <header class="container__header">
          <h2 class="container__header__title">Organização</h2>
          <button mat-button color="primary">Novo Organizador</button>
        </header>
      </article>

      <p *ngIf="!organizersSubeventDto.length">Nenhum organizador encontrado</p>

      <table class="container__table--not_clickable" *ngIf="organizersSubeventDto.length" mat-table [dataSource]="organizersSubeventDto">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.account.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let element">{{ element.account.email }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Papel</th>
          <td mat-cell *matCellDef="let element">{{ element.type | organizerType }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Ação</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button class="delete__button" (click)="openDeleteConfirmationDialogOrganizerSubevent()">Remover</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrganizerSubevent"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrganizerSubevent;" class="container__line"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
