<div *ngIf="subeventDto">
  <app-admin-header title="Subevento {{ subeventDto.title }}" (backLink)="openEventShow()">
    <button mat-button color="primary" (click)="publishSubevent()">Publicar</button>
    <button mat-button color="primary" (click)="unpublishSubevent()">Despublicar</button>
    <button mat-button color="primary" (click)="openCancelDialog()">Cancelar</button>
    <button mat-button color="primary" routerLink="edit">Editar</button>
    <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">Excluir</button>
  </app-admin-header>

  <mat-tab-group mat-align-tabs="left" animationDuration="0ms" [selectedIndex]="tabSelectedIndex">

    <mat-tab label="Dados Principais">
      <article class="container">
        <p class="container__item"><b>Resumo:</b> {{ subeventDto.summary }}</p>
        <p class="container__item"><b>Apresentação:</b> {{ subeventDto.presentation }}</p>
        <p class="container__item"><b>Status:</b> {{ subeventDto.status | eventStatus }}</p>
        <p *ngIf="subeventDto.cancellationMessage"><b>Mensagem de cancelamento:</b> {{ subeventDto.cancellationMessage }}</p>
        <h3>Datas</h3>
        <p class="container__item"><b>Início:</b> {{ subeventDto.executionPeriod.startDate | date:'dd/MM/yyyy' }}</p>
        <p class="container__item"><b>Fim:</b> {{ subeventDto.executionPeriod.endDate | date:'dd/MM/yyyy' }}</p>
        <h3>Imagens</h3>
        <p><b>Menor</b></p>
        <img mat-card-image src="{{ subeventDto.smallerImage }}" width="300px">
        <p><b>Maior</b></p>
        <img mat-card-image src="{{ subeventDto.biggerImage }}" width="300px">
      </article>
    </mat-tab>

    <mat-tab label="Atividades">
      <article class="container">
        <header class="header">
          <h1 class="header__title">Atividades</h1>
          <button class="container__actions" mat-button color="primary" routerLink="activities/new">Nova Atividade</button>
        </header>

        <p *ngIf="!activitiesDto.length">Nenhum atividade cadastrado</p>

        <table mat-table [dataSource]="activitiesDto" *ngIf="activitiesDto.length" class="container__table">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Título</th>
            <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
          </ng-container>

          <ng-container matColumnDef="online">
            <th mat-header-cell *matHeaderCellDef>Presencial/On-line</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.online">
                <mat-icon>laptop_mac</mat-icon> On-line
              </span>
              <span *ngIf="!element.online">
                <mat-icon> pin_drop</mat-icon> Presencial
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="registrationRequired">
            <th mat-header-cell *matHeaderCellDef>Requer Inscrição</th>
            <td mat-cell *matCellDef="let element"> {{ element.registrationRequired }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{ element.status | eventStatus }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="activitiesDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: activitiesDisplayedColumns;" (click)="openActivityShow(row)"></tr>
        </table>
      </article>
    </mat-tab>
  </mat-tab-group>
</div>
