<app-site-header></app-site-header>

<header class="event-page-header">
  <img src="https://p4.wallpaperbetter.com/wallpaper/849/670/455/solid-color-wallpaper-preview.jpg">

  <div class="header-content">
    <div class="header-content__event">
      <h2 class="header-content__title">SEDCITEC 2022</h2>
      <p class="header-content__dates">19/09/2022 à 23/09/2022</p>
    </div>

    <nav class="header-content__menu">
      <button mat-button routerLink="123456">Apresentação</button>
      <button mat-button routerLink="123456/subevents">Subeventos</button>
      <button mat-button>Programação</button>
      <button mat-button>Organização</button>
    </nav>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<app-site-footer></app-site-footer>
