<div *ngIf="locationDto!=null">
  <header class="header">
    <div class="header__titlecomponent">
      <button class="header__back" mat-icon-button aria-label="Button to go back to previous page" color="primary">
        <mat-icon mat-list-icon (click)="openLocationList()">arrow_back</mat-icon>
      </button>
      <h1 class="header__title">Local: {{ locationDto.name }}</h1>
    </div>
    <div class="header__actions">
      <button mat-button color="primary" (click)="openEditLocationFormDialog()">Editar</button>
      <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">Excluir</button>
    </div>
  </header>

  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>pin_drop</mat-icon>
      <div mat-line><b>Endereço: </b>{{ locationDto.address }}</div>
    </mat-list-item>
  </mat-list>

  <header class="header">
    <h2 class="header__title">Áreas</h2>
    <button mat-button color="primary" (click)="openAddAreaFormDialog()">Nova Área</button>
  </header>

  <article class="container">
    <p *ngIf="!areasDto.length">Nenhuma área cadastrada</p>
    <table class="container__table" *ngIf="areasDto.length" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Referência</th>
        <td mat-cell *matCellDef="let element">{{ element.reference }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openAreaShow(row)" class="container__line"></tr>
    </table>
  </article>
</div>
