p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 16px;
  text-align: justify;
  line-height: 1.5rem;
}

p b {
  font-weight: 500;
}

mat-line {
  font-size: 20px;
}

img {
  padding: 0 16px;
}

mat-tab-group {
  padding: 20px;
}

mat-tab {
  padding-top: 22px;
}
