<div *ngIf="eventDto">
  <header class="header">
    <h1 class="header__title">Evento {{ eventDto.title }}</h1>
    <div class="header__actions">
      <button mat-button color="primary">Editar</button>
      <button mat-button color="primary">Excluir</button>
    </div>
  </header>

  <mat-list>
    <div mat-subheader>Dados gerais</div>
    <p><b>Resumo:</b> {{ eventDto.summary }}</p>
    <p><b>Apresentação:</b> {{ eventDto. presentation }}</p>

    <mat-divider></mat-divider>
    <div mat-subheader>Datas importantes</div>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div mat-line><b>Início das incrições:</b> {{ eventDto.registrationPeriod.startDate }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div mat-line><b>Fim das incrições:</b> {{ eventDto.registrationPeriod.endDate }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div mat-line><b>Início:</b> {{ eventDto.executionPeriod.startDate }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div mat-line><b>Fim:</b> {{ eventDto.executionPeriod.endDate }}</div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <div mat-subheader>Capas</div>
    <p><b>Menor:</b></p>
    <div><img mat-card-image src="{{ eventDto.smallerImage }}" width="300px"></div>
    <p><b>Maior:</b>
    </p><div><img mat-card-image src="{{ eventDto.biggerImage }}" width="300px"></div>
  </mat-list>
</div>

<div class="header">
  <h1 class="header__title">Subeventos</h1>
  <div class="header__actions">
    <button mat-button color="primary">Novo Subevento</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Data de Início </th>
    <td mat-cell *matCellDef="let element"> {{element.executionPeriod.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Data de Fim </th>
    <td mat-cell *matCellDef="let element"> {{element.executionPeriod.endDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openSubeventShow(row)"></tr>
</table>
