.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(197, 197, 197);

  &__title {
    margin: 0;
    font-weight: 500;
  }

  &__link {
    margin-right: 5px;
  }
}
