<div style="border-bottom: 1px solid #d5e8e5;">
  <div class="site-content">
    <header class="site-header">
      <h4 class="site-header__title" routerLink="/">Eventos IFSP SPO</h4>

      <nav class="site-header__menu" *ngIf="!isLoggedIn">
        <a class="site-header__link" routerLink="/login">Login</a>
        <a class="site-header__link site-header__link--active " routerLink="/cadastro">Cadastrar</a>
      </nav>

      <nav class="site-header__menu" *ngIf="isLoggedIn">
        <div>
          <button color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Admin menu" style="width: auto; margin-right: 10px">
            <mat-icon class="app-toolbar__icon">account_circle</mat-icon>
            <span>Minha conta</span>
            <mat-icon class="app-toolbar__icon__dropdown">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin" *ngIf="isAdmin">Area administrativa</button>
            <mat-divider *ngIf="isAdmin"></mat-divider>
            <button mat-menu-item routerLink="/meus-dados">Meus Dados</button>
            <button mat-menu-item routerLink="/minhas-inscricoes">Minhas Inscrições</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">Sair</button>
          </mat-menu>
        </div>
      </nav>

    </header>
  </div>
</div>


