<header class="header">
  <h1 class="header__title">Novo Subevento</h1>
  <div class="header__actions">
    <button mat-button color="primary">Cancelar</button>
    <button mat-button color="primary" type="submit" form="subevent-form">Salvar</button>
  </div>
</header>

<form id="subevent-form" class="app-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldSet>
    <legend>Dados Gerais</legend>
    
    <mat-form-field class="form-field-lg">
      <mat-label> Título </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="title" name="title">
      <mat-error *ngIf="fieldErrors('title')?.['required']">Título é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['notblank']">Título não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['minlength']">Título deve ter no mínimo 3 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['maxlength']">Título deve ter no máximo 50 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('title')?.['serverError'] && submitted">
        {{ fieldErrors('title')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field-lg">
      <mat-label> Slug </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="slug" name="slug">
      <mat-error *ngIf="fieldErrors('slug')?.['required']">Slug é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['notblank']">Slug não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('slug')?.['serverError'] && submitted">
        {{ fieldErrors('slug')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field-lg">
      <mat-label> Resumo </mat-label>
      <textarea matInput appearance="fill" matInput placeholder="" formControlName="summary" name="summary"></textarea>
      <input appearance="fill" matInput placeholder="" formControlName="slug" name="slug">
      <mat-error *ngIf="fieldErrors('summary')?.['required']">Resumo é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['notblank']">Resumo não pode ser vazio</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['minlength']">Resumo deve ter no mínimo 100 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['maxlength']">Resumo deve ter no máximo 150 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('summary')?.['serverError'] && submitted">
        {{ fieldErrors('summary')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field-lg">
      <mat-label> Apresentação </mat-label>
      <textarea matInput appearance="fill" matInput placeholder="" formControlName="presentation" name="presentation"></textarea>
      <mat-error *ngIf="fieldErrors('presentation')?.['required']">Apresentação é obrigatória</mat-error>
      <mat-error *ngIf="fieldErrors('presentation')?.['notblank']">Apresentação não pode ser vazia</mat-error>
      <mat-error *ngIf="fieldErrors('presentation')?.['minlength']">Apresentação deve ter no mínimo 1000 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('presentation')?.['maxlength']">Apresentação deve ter no máximo 5000 caracteres</mat-error>
      <mat-error *ngIf="fieldErrors('presentation')?.['serverError'] && submitted">
        {{ fieldErrors('presentation')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </fieldSet>

  <fieldset formGroupName="executionPeriod">
    <legend>Período de execução</legend>
    <mat-form-field class="form-field-lg">
      <mat-label>Início</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" name="start-date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="fieldErrors('executionPeriod.startDate')?.['required']">Início é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-lg">
      <mat-label>Fim</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate" name="end-date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="fieldErrors('executionPeriod.endDate')?.['required']">Fim é obrigatório</mat-error>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <legend>Capas</legend>

    <mat-form-field class="form-field-lg">
      <mat-label>Menor </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="smallerImage" name="smallerImage">
    </mat-form-field>

    <mat-form-field class="form-field-lg">
      <mat-label> Maior </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="biggerImage" name="biggerImage">
    </mat-form-field>
  </fieldset>
</form>
