<h1 class="modal__title" mat-dialog-title>Cadastrar Organizador</h1>

<div mat-dialog-content>
  <form class="modal" id="organizer-subevent-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="modal__input">
      <mat-label>Nome</mat-label>
      <input appearence="fill" matInput [formControl]="nameControl" name="name" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
          <mat-option *ngFor="let account of accounts" [value]="account.name" [id]="account.id">
            {{ account.name }} ({{ account.email }})
          </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="nameControl.errors && submitted">
        {{ nameControl.errors['serverError'] }}
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="modal__input">
      <mat-label>Papel</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let name of organizersSubeventType" [value]="name">{{ organizerSubeventType[name] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="fieldErrors('type')?.['required']">
        Papel é obrigatório
      </mat-error>
    </mat-form-field>

    <input  hidden="true" appearance="fill" matInput formControlName="accountId" name="accountId">

  </form>
</div>

<div mat-dialog-actions class="modal__buttons">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button type="submit" form="organizer-subevent-form" mat-button color="primary">Salvar</button>
</div>
