<div *ngIf="createMode">
  <h1 class="modal__title" mat-dialog-title>Cadastrar Local</h1>
</div>

<div *ngIf="!createMode">
  <h1 class="modal__title" mat-dialog-title>Editar Local</h1>
</div>

<div mat-dialog-content>
  <form class="modal" id="location-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="modal__input">
      <mat-label>Nome</mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="name" name="name">
      <mat-error *ngIf="fieldErrors('name')?.['notblank']">
        Nome não pode ser vazio
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['required']">
        Nome é obrigatório
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['minlength'] || fieldErrors('name')?.['maxlength']">
        Nome deve ter entre 1 e 200 caracteres
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['alpha']">
        Nome não pode conter somente números ou caracteres especiais
      </mat-error>
      <mat-error *ngIf="fieldErrors('name')?.['serverError'] && submitted">
        {{ fieldErrors('name')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="modal__input">
      <mat-label>Endereço</mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="address" name="address">
      <mat-error *ngIf="fieldErrors('address')?.['notblank']">
        Endereço não pode ser vazio
      </mat-error>
      <mat-error *ngIf="fieldErrors('address')?.['required']">
        Endereço é obrigatório
      </mat-error>
      <mat-error *ngIf="fieldErrors('address')?.['minlength'] || fieldErrors('address')?.['maxlength']">
        Endereço deve ter entre 10 e 500 caracteres
      </mat-error>
      <mat-error *ngIf="fieldErrors('address')?.['alpha']">
        Endereço não pode conter somente números ou caracteres especiais
      </mat-error>
      <mat-error *ngIf="fieldErrors('address')?.['serverError'] && submitted">
        {{ fieldErrors('address')?.['serverError'] }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="modal__buttons">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button type="submit" form="location-form" mat-button color="primary">Salvar</button>
</div>
