<div *ngIf="createMode==false">
  <h1 id="header" mat-dialog-title>Editar Local</h1>
</div>

<div *ngIf="createMode==true">
  <h1 id="header" mat-dialog-title>Cadastrar Local</h1>
</div>

<div mat-dialog-content>
  <form class="app-form" id="department-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field-lg">
      <mat-label> Nome* </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="name" name="name">
    </mat-form-field>

    <br/>

    <mat-form-field class="form-field-lg">
      <mat-label> Endereço </mat-label>
      <input appearance="fill" matInput placeholder="" formControlName="address" name="address">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close> Cancelar </button>
  <button type="submit" form="department-form" mat-button color="primary"> Submeter </button>
</div>
