<div *ngIf="activityDto">
  <app-admin-header title="Atividade {{ activityDto.title }}" (backLink)="backLink()">
    <button mat-button color="primary" (click)="publishActivity()">Publicar</button>
    <button mat-button color="primary" (click)="unpublishActivity()">Despublicar</button>
    <button mat-button color="primary" (click)="openCancelDialog()">Cancelar</button>
    <button mat-button color="primary" routerLink="edit">Editar</button>
    <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">Excluir</button>
  </app-admin-header>

  <mat-tab-group mat-align-tabs="left" animationDuration="0ms" [selectedIndex]="tabSelectedIndex">
    <mat-tab label="Dados Principais">
      <article class="container">
        <p class="container__item"><b>Tipo:</b> {{ activityDto.type | activityTypes }}</p>
        <p class="container__item"><b>Modalidade:</b> {{ activityDto.modality | activityModalities }}</p>
        <p class="container__item"><b>Titulo:</b> {{ activityDto.title }}</p>
        <p class="container__item"><b>Slug:</b> {{ activityDto.slug }}</p>
        <p class="container__item"><b>Descrição:</b> {{ activityDto.description }}</p>
        <p class="container__item"><b>Duração:</b> {{ activityDto.duration }} minutos</p>
        <p class="container__item"><b>Tempo de Credenciamento:</b> {{ activityDto.setupTime }} minutos</p>
        <p class="container__item"><b>Requer inscrição:</b> {{ activityDto.needRegistration ? 'Sim' : 'Não' }}</p>
        <p class="container__item"><b>Status:</b> {{ activityDto.status | eventStatus }}</p>
      </article>
    </mat-tab>

    <mat-tab label="Ministrantes">
      <app-activity-speakers [eventId]="eventId" [subeventId]="subeventId" [activityId]="activityId"></app-activity-speakers>
    </mat-tab>

    <mat-tab label="Sessões">
      <app-session-list [eventId]="eventId" [subeventId]="subeventId" [activityId]="activityId"></app-session-list>
    </mat-tab>
  </mat-tab-group>
</div>
