.site-card {
  display: flex;
  margin-bottom: 25px;

  img {
    max-width: 250px;
    max-height: 130px;
  }

  &__content {
    margin-left: 30px;

    h3 {
      margin-bottom: 5px;
      font-weight: 500;
    }

    p {
      margin-bottom: 5px;
    }
  }
}
