<div>
  <h2 class="modal__title" mat-dialog-title>Adicionar Organizador</h2>
</div>

<div mat-dialog-content>
  <form class="modal" id="organizer-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="modal__input">
      <mat-label>Nome</mat-label>
      <input appearance="fill" matInput [formControl]="nameControl" name="name" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
        <mat-option *ngFor="let organizer of organizersDto" [value]="organizer.name" [id]="organizer.id">
          {{ organizer.name }} ({{ organizer.email }})
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="fieldErrors('accountId')?.['notblank']">
        Account Id não pode ser vazio
      </mat-error>
      <mat-error *ngIf="fieldErrors('accountId')?.['required']">
        Account Id é obrigatório
      </mat-error>
      <mat-error *ngIf="fieldErrors('accountId')?.['serverError'] && submitted">
        {{ fieldErrors('accountId')?.['serverError'] }}
      </mat-error>
    </mat-form-field>

    <input hidden="true" appearance="fill" matInput formControlName="accountId" name="accountId">

    <mat-form-field class="modal__input">
      <mat-label>Papel</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let name of organizersType" [value]="name">{{ organizerType[name] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="fieldErrors('type')?.['required']">
        Papel é obrigatório
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="modal__buttons">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button type="submit" form="organizer-form" mat-button color="primary">Salvar</button>
</div>
