<main *ngIf="eventDto">
  <h1>Subeventos</h1>
  <p>Eventos programados para a {{ eventDto.title }}</p>

  <section>
    <app-site-card
      *ngFor="let subeventDto of subeventsDto"
      [image]="subeventDto.smallerImage"
      [title]="subeventDto.title"
      [startDate]="subeventDto.executionPeriod.startDate | date:'dd/MM/yyyy'"
      [endDate]="subeventDto.executionPeriod.endDate | date:'dd/MM/yyyy'"
      [summary]="subeventDto.summary"
      [url]="'/events/'+ eventDto.slug + '/subevents/'+ subeventDto.slug"
    ></app-site-card>
  </section>
</main>
