main {
  padding: 30px 96px;
  min-height: 300px;

  @media screen and (max-width: 532px) {
    padding: 10px 20px;
  }
}

h1 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 40px;
}

section {
  margin-bottom: 100px;
}
