<main *ngIf="eventDto" class="event-page">
  <h1 class="event-page__title">Subeventos</h1>
  <section class="event-page__content">
    <p>Eventos programados para a {{ eventDto.title }}</p>
    <br>
    <app-site-card
      *ngFor="let subeventDto of subeventsDto"
      [image]="subeventDto.smallerImage"
      [title]="subeventDto.title"
      [startDate]="subeventDto.executionPeriod.startDate | date:'dd/MM/yyyy'"
      [endDate]="subeventDto.executionPeriod.endDate | date:'dd/MM/yyyy'"
      [summary]="subeventDto.summary"
      [url]="'/'+ eventDto.slug + '/sub-events/'+ subeventDto.slug"
    ></app-site-card>
  </section>
</main>
