.login-header, .login-form {
  text-align: center;
  margin: 2rem 0 0 0;
}

.re-captcha {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}
