.full-width {
  width: 100%;
}

mat-form-field {
  padding: 5px 0 5px 0;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(75, 92, 107);
  }
  mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
      color: rgb(75, 92, 107);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  align-items: center;
}

re-captcha {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  scale: 0.9;
}

.button {
  margin: 15px 0;
  background-color: rgb(75, 92, 107);
  color: white;
  border: none;
  padding: 10px;
  width: 40%;
}
