<app-event-header
  *ngIf="eventDto"
  [title]="eventDto.title"
  [image]="eventDto.biggerImage"
  [startDate]="eventDto.executionPeriod.startDate | date:'dd/MM/yyyy'"
  [endDate]="eventDto.executionPeriod.endDate | date:'dd/MM/yyyy'"
>
  <button mat-button>Apresentação</button>
  <button mat-button routerLink="subevents">Subeventos</button>
  <button mat-button>Programação</button>
  <button mat-button>Organização</button>
</app-event-header>

<main *ngIf="eventDto">
  <h1>Apresentação</h1>

  <div id="text" [innerHTML]="eventDto.presentation"></div>
</main>

<app-site-footer></app-site-footer>
