<app-event-header
  [title]="eventDto.title"
  [image]="eventDto.biggerImage"
  [startDate]="eventDto.executionPeriod.startDate | date:'dd/MM/yyyy'"
  [endDate]="eventDto.executionPeriod.endDate | date:'dd/MM/yyyy'"
>
  <button mat-button routerLink="{{ eventDto.slug }}">Apresentação</button>
  <button mat-button routerLink="subevents">Subeventos</button>
  <button mat-button>Programação</button>
  <button mat-button>Organização</button>
</app-event-header>

<main>
  <h1>Apresentação</h1>

  <div id="text"></div>
</main>

<app-site-footer></app-site-footer>
