.full-width {
  width: 100%;
}

.visibility {
  scale: 1.5;
}

re-captcha {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.button {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border: none;
  width: 100%;
}

.button-white {
  color: #FFFFFF;
}
