.account-page-content {
  background-color: #eaeaea;
  height: 100%;
}

.account-main-content {
  background-color: #eaeaea;
}

.account-main-title {
  text-transform: uppercase;
  color: #555555;
  text-decoration: none;

  h2 {
    font-size: 1rem;
    display: inline;
  }

  &:hover {
    color: #000000;
  }
}
.account-card-content {
  margin: 0;
  padding: 40px 40px 10px 40px;

  &-title {
    margin-bottom: 20px;
  }

  &-subtitle {
    margin-bottom: 20px;
  }
}

header {
  text-align: center;
  padding-top: 10px;

  @media screen and (min-width: 481px) {
    padding-top: 40px;
    h1 {
      font-weight: bold;
    }
  }

  @media screen and (max-width: 480px){
    p {
      font-size: 0.8rem;
    }
  }

  @media screen and (min-width: 641px) {
    margin-bottom: 20px;
  }
}

main {
  text-align: center;

  @media screen and (min-width: 500px) {
    max-width: 450px;
    margin: auto;
  }
}

