<app-admin-header title="Pesquisar Usuários">

<form id="account-search-form" [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form">

    <mat-form-field>
      <input type="search" formControlName="query" matInput placeholder="Pesquisar">
    </mat-form-field>


    <mat-card-actions>
      <button class="button button-white" mat-raised-button form="account-search-form" color="primary" [disabled]="requestLoading">
        <span>Enviar</span>
      </button>
      <mat-progress-spinner *ngIf="requestLoading" color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </mat-card-actions>
</form>
</app-admin-header>

<article class="container" *ngIf="usersDto.length" >
  <table class="container__table" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por nome">Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por email">Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por cpf">CPF</th>
      <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="agreed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por agreed">Confirmado</th>
      <td mat-cell *matCellDef="let element">{{ element.agreed }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por role">Perfil</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container matColumnDef="verified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por verified">Verificado</th>
      <td mat-cell *matCellDef="let element">{{ element.verified }}</td>
    </ng-container>

    <ng-container matColumnDef="registrationTimestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por registrationTimestamp">Registrado em</th>
      <td mat-cell *matCellDef="let element">{{ element.registrationTimestamp }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="container__line"></tr>
  </table>
</article>

